:root {
  --header-bcg-color: #df286a;
  --title-color: #313131;
  --text-color: #585858;
  --light-string-color: #e9a923;
  --purple-string-color: #7f3a6a;
  --footer-bcg-color: #f9f1ee;
  --bg-our-listItem: #f1e9ee;
  --transition-duration: 250ms;
}
