<section class="sectionWithPadding">
  <div class="container">
    <div class="aboutUseContentWrapper">
      <span class="borderBox">
        <h2 class="sectionTitle borderedSpan">About us</h2>
        <span class="border"></span>
      </span>
      <ul class="aboutList">
        <li class="aboutListItem">
          <p class="itemTitle">Lorem ipsum dolor sit amet consectetur</p>
          <p class="itemText openSans">
            Lorem ipsum dolor sit amet consectetur. Vel duis nibh sodales in
            gravida dolor in. Elementum netus rhoncus sagittis nunc mi non
            egestas est. Aliquam maecenas in sed vestibulum neque feugiat
            pulvinar. Volutpat auctor a in sem vulputate aliquam tempor sit.
            Nulla urna felis penatibus ut cras sit.
          </p>
        </li>
        <li class="aboutListItem">
          <p class="itemTitle">Lorem ipsum dolor sit amet consectetur</p>
          <p class="itemText openSans">
            Lorem ipsum dolor sit amet consectetur. Vel duis nibh sodales in
            gravida dolor in. Elementum netus rhoncus sagittis nunc mi non
            egestas est. Aliquam maecenas in sed vestibulum neque feugiat
            pulvinar. Volutpat auctor a in sem vulputate aliquam tempor sit.
            Nulla urna felis penatibus ut cras sit.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
