<section class="sectionWithPadding choosesSection">
  <div class="container">
    <div class="choosesContentWrapper">
      <div class="choosesBox">
        <div>
          <h2 class="sectionTitle choosesTitle">
            Choose
            <span class="borderBox">
              <span class="borderedSpan">Excellence,</span>
              <span class="border"></span>
            </span>
            Choose
            <span class="borderBox">
              <span class="borderedSpan">Our Agency.</span>
              <span class="border"></span>
            </span>
          </h2>
          <p class="bigBoxText openSans">
            Lorem ipsum dolor sit amet consectetur.
          </p>
          <button class="bigBoxBtn openSans" type="button">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</section>
