<footer class="footer">
  <div class="container">
    <div class="footerContentWrapper">
      <img src="../../img/icons/logo.svg" alt="logo" />
      <ul class="linksList">
        <li class="linksListItem"><a class="link" href="">Affiliates</a></li>
        <li class="linksListItem"><a class="link" href="">Advertisers</a></li>
        <li class="linksListItem"><a class="link" href="">Events</a></li>
        <li class="linksListItem"><a class="link" href="">Blog</a></li>
        <li class="linksListItem"><a class="link" href="">Terms Of Use</a></li>
      </ul>
      <ul class="socialLinkList">
        <li class="sociaLinksItem">
          <a class="socialLink" href=""><img src="" alt="" /></a>
        </li>
        <li class="sociaLinksItem">
          <a class="socialLink" href=""><img src="" alt="" /></a>
        </li>
        <li class="sociaLinksItem">
          <a class="socialLink" href=""><img src="" alt="" /></a>
        </li>
      </ul>
      <div>
        <a class="contactUsLink" href="">Contact Us</a>
        <a class="email" type="email" href="">Contact Us</a>
      </div>
    </div>
  </div>
</footer>
