<header class="header">
  <div class="container">
    <div class="headerBox">
      <img src="../../img/icons/logo.svg" alt="logo" />
      <svg
        class="menuIcon"
        width="27"
        height="20"
        viewBox="0 0 27 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M2 2H26" stroke-width="3" stroke-linecap="round" />
        <path d="M2 10H26" stroke-width="3" stroke-linecap="round" />
        <path d="M2 18H26" stroke-width="3" stroke-linecap="round" />
      </svg>
      <div class="desktopMenu">
        <ul class="menuList">
          <li class="menuListItem">
            <a class="menuLink openSans" href="">Affiliates</a>
          </li>
          <li class="menuListItem">
            <a class="menuLink openSans" href="">Advertisers</a>
          </li>
          <li class="menuListItem">
            <a class="menuLink openSans" href="">Events</a>
          </li>
          <li class="menuListItem">
            <a class="menuLink openSans" href="">Blog</a>
          </li>
        </ul>
        <button class="menuBtn openSans">Sign Up</button>
      </div>
    </div>
  </div>
</header>
