<section class="heroSection">
  <div class="container">
    <div class="heroContentWrapper">
      <picture>
        <source
          srcset="
            ../../img/png/mobile/heroMobile.png   1x,
            ../../img/png/mobile/heroMobile2x.png 2x
          "
        />
        <img
          class="heroImg"
          src="../../img/png/desktop/hero1.png"
          alt="heroMobile"
        />
      </picture>
      <picture>
        <source
          srcset="
            ../../img/png/desktop/hero1.png   1x,
            ../../img/png/desktop/hero12x.png 2x
          "
        />
        <img
          class="heroImgDesktop"
          src="../../img/png/desktop/hero1.png"
          alt="heroMobile"
        />
      </picture>

      <div class="heroTextWrapper">
        <h1 class="heroTitle exoFont sectionTitle">
          Lorem ipsum dolor sit amet consectetur. Mi Cras
          <span class="borderBox">
            <span class="borderedSpan">Non Non Quis.</span>
            <div class="border"></div>
          </span>
        </h1>
        <p class="heroText openSans">
          Lorem ipsum dolor sit amet consectetur. Faucibus nunc et mattis at
          feugiat sagittis volutpat. At netus diam ipsum cras turpis imperdiet
          diam vel consequat. Ultrices in faucibus sodales sed sed. Enim aenean
          dignissim sed a non mollis. Sed ut arcu enim ullamcorper.
        </p>
      </div>
    </div>
  </div>
  <picture>
    <source
      srcset="
        ../../img/png/mobile/1xMobile.png 1x,
        ../../img/png/mobile/2xMobile.png 2x
      "
    />
    <img
      src="../../img/png/mobile/1xMobile.png "
      class="stringImage"
      alt="imageHero"
    />
  </picture>
  <picture>
    <source
      srcset="
        ../../img/png/desktop/heroString.png   1x,
        ../../img/png/desktop/heroString2x.png 2x
      "
    />
    <img
      src="../../img/png/1xMobile.png "
      class="stringImageDesktop"
      alt="imageHero"
    />
  </picture>
</section>
