<section class="sectionWithPadding">
  <div class="container">
    <div class="ourContentWrapper">
      <h2 class="sectionTitle ourSectionTitle">
        Our
        <span class="borderBox">
          <span class="borderedSpan">Exclusive Partners</span>
          <span class="border"></span>
        </span>
      </h2>
      <ul class="ourList">
        <li class="ourListItem">
          <img src="../../img/png/1.png" alt="first" />
        </li>
        <li class="ourListItem">
          <img src="../../img/png/2.png" alt="second" />
        </li>
        <li class="ourListItem">
          <img src="../../img/png/3.png" alt="third" />
        </li>
      </ul>
      <img class="ourImage" src="../../img/png/4mob.png" alt="deal" />
    </div>
  </div>
</section>
