<section class="sectionWithPadding">
  <div class="container">
    <div class="ourContentWrapper">
      <h2 class="sectionTitle">Our exclusive partners</h2>
      <ul class="ourList">
        <li class="ourListItem">
          <img src="../../img/png/1.png" alt="first" />
        </li>
        <li class="ourListItem">
          <img src="../../img/png/2.png" alt="second" />
        </li>
        <li class="ourListItem">
          <img src="../../img/png/3.png" alt="third" />
        </li>
      </ul>
      <img src="../../img/png/4mob.png" alt="deal" />
    </div>
  </div>
</section>
