<section class="sectionWithPadding">
  <div class="container">
    <div class="ourContentWrapper">
      <div class="ourTextWrapper">
        <h2 class="sectionTitle ourSectionTitle">
          Our
          <span class="borderBox">
            <span class="borderedSpan">Exclusive Partners</span>
            <span class="border"></span>
          </span>
        </h2>
        <ul class="ourList">
          <li class="ourListItem">
            <picture class="">
              <source
                srcset="
                  ../../img/png/mobile/1.png   1x,
                  ../../img/png/mobile/12x.png 2x
                "
              />
              <img class="" src="../../img/png/mobile/1.png" alt="first" />
            </picture>
          </li>
          <li class="ourListItem">
            <picture class="">
              <source
                srcset="
                  ../../img/png/mobile/2.png   1x,
                  ../../img/png/mobile/22x.png 2x
                "
              />
              <img class="" src="../../img/png/mobile/2.png" alt="second" />
            </picture>
          </li>
          <li class="ourListItem">
            <picture class="">
              <source
                srcset="
                  ../../img/png/mobile/3.png   1x,
                  ../../img/png/mobile/32x.png 2x
                "
              />
              <img class="" src="../../img/png/mobile/3.png" alt="third" />
            </picture>
          </li>
        </ul>
      </div>
      <picture>
        <source
          srcset="
            ../../img/png/mobile/4mob.png   1x,
            ../../img/png/mobile/4mob2x.png 2x
          "
        />
        <img
          class="ourImage"
          src="../../img/png/mobile/4mob.png"
          alt="fourth"
        />
      </picture>
      <picture>
        <source
          srcset="
            ../../img/png/desktop/our.png   1x,
            ../../img/png/desktop/our2x.png 2x
          "
        />
        <img
          class="ourImageDesktop"
          src="../../img/png/desktop/our.png"
          alt="fourth"
        />
      </picture>
    </div>
  </div>
</section>
