<section class="sectionWithPadding">
  <div class="container">
    <div class="servicesContentWrapper">
      <h2 class="sectionTitle">Services</h2>
      <div class="bigBox">
        <p class="bigBoxTitle">Lorem Ipsum</p>
        <ul class="bigBoxList">
          <li class="bigBoxListItem">Lorem</li>
          <li class="bigBoxListItem">Lorem</li>
          <li class="bigBoxListItem">Lorem</li>
          <li class="bigBoxListItem">Lorem</li>
        </ul>
      </div>
      <ul class="aboutBottomList">
        <li class="aboutBottomListItem">
          <p class="bottomListItemTitle">Lorem</p>
          <p class="bottomListItemText">Ipsum</p>
          <p class="bottomListItemText">Ipsum</p>
        </li>
        <li class="aboutBottomListItem">
          <p class="bottomListItemTitle">Lorem</p>
          <p class="bottomListItemText">Ipsum</p>
          <p class="bottomListItemText">Ipsum</p>
        </li>
      </ul>
      <img src="../../img/png/5mob.png" alt="magnet" />
    </div>
  </div>
</section>
