@import "base/*.scss";
@import "global/*.scss";
@import "**/_*.scss";
@import "../components/**/*.scss";
@import "./header.scss";
@import "./container.scss";
@import "./ourExclusive.scss";
@import "./aboutUs.scss";
@import "./services.scss";
@import "./chooses.scss";
@import "./footer.scss";
@import "./base/reset";

.body {
  font-family: "Exo", sans-serif;
  font-family: "Open Sans", sans-serif;
  background-image: url("../img/png/mobile/bg_mob\ 2.png");
  background-position-x: center;
  background-position-y: top;
  background-size: contain;
  background-repeat: no-repeat;

  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1440px) {
    background-image: url("../img/png/bg_desktop\ 1\ 6.png");
  }
}

.exoFont {
  font-family: "Exo", sans-serif;
}

.openSans {
  font-family: "Open Sans", sans-serif;
}

.sectionTitle {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  color: var(--title-color);
  font-size: 24px;

  @media screen and (min-width: 1440px) {
    font-size: 32px;
    line-height: 45px;
  }
}

.sectionWithPadding {
  padding: 40px 0px;
}

.borderBox {
  @include borderBox();
}

.borderedSpan {
  @include borderedSpan();
}

.border {
  @include border();
}
