@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;700&family=Open+Sans:wght@300;400;500;700&display=swap");
@import "base/*.scss";
@import "global/*.scss";
@import "**/_*.scss";
@import "../components/**/*.scss";
@import "./header.scss";
@import "./container.scss";
@import "./ourExclusive.scss";
@import "./aboutUs.scss";
@import "./services.scss";
@import "./chooses.scss";
@import "./footer.scss";
@import "./base/reset";

.body {
  font-family: "Exo", sans-serif;
  font-family: "Open Sans", sans-serif;
  background: rgb(233, 242, 242);
  background: linear-gradient(
    0deg,
    rgba(233, 242, 242, 1) 0%,
    rgba(215, 201, 222, 0.9178265056022409) 100%
  );

  width: 100vw;
  overflow-x: hidden;
}

.exoFont {
  font-family: "Exo", sans-serif;
}

.openSans {
  font-family: "Open Sans", sans-serif;
}

.sectionTitle {
  font-weight: 700;
  color: var(--title-color);
  font-size: 24px;
}

.sectionWithPadding {
  padding: 40px 0px;
}

.borderBox {
  @include borderBox();
}

.borderedSpan {
  @include borderedSpan();
}

.border {
  @include border();
}
